body {
	position: relative;
}
.td-clock
{
	width: 156px;
	height: 156px;
	border-radius: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 156px;
	position: absolute;
	font-family: Arial, sans-serif;
	outline: none;
	
	display: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	color: #39D;
	font-size: 16px;
	text-shadow: 0 0 5px #369;
	background-color: #123;
	box-shadow: 0 0 0 1px #0AF,0 0 8px 3px rgba(0,127,255,0.5);
}
.td-clock:before
{
	position: absolute;
	content: "";
	top: -10px;
	margin-left: -10px;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	background: #123;
	border-left: 1px solid #0AF;
	border-top: 1px solid #0AF;
	border-top-left-radius: 4px;
}
.td-clock.drop-up:before
{
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: auto;
	bottom: -10px;
}
.td-clock.nodrop:before
{
	display: none;
}
.td-clock.td-show
{
	display: block;
}
.td-clock.inline
{
	position: relative;
	margin: 8px;
}
.td-clock,
.td-clock *
{
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-box-sizing: initial !important;
	-moz-box-sizing: initial !important;
	box-sizing: initial !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.td-clock-wrap
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
.td-clock svg
{
	stroke: #0CF;
}
.td-svg
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.td-svg-2
{
	position: absolute;
	top: 18px;
	left: 18px;
	bottom: 18px;
	right: 18px;
}
.td-medirian
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.td-medirian span
{
	width: 80px;
	height: 40px;
	border-radius: 100%;
	line-height: 40px;
	text-align: center;
	margin: 0;
	position: absolute;
	z-index: 1;
	margin-left: -40px;
	font-size: 1em;
	opacity: 0;
	font-weight: bold;
	color: silver;
	cursor: pointer;
}
.td-medirian .td-am,
.td-medirian .td-pm
{
	top: 18%;
}
.td-medirian .td-am
{
	left: 40%;
}
.td-medirian .td-pm
{
	left: 60%;
}
.td-medirian .td-am.td-on,
.td-medirian .td-pm.td-on
{
	left: 50%;
	opacity: 0.8;
}
.td-medirian .td-now
{
	font-size: 0.7em;
	left: 50%;
	bottom: 10%;
	z-index: -1;
}
.td-medirian .td-now.td-on
{
	bottom: 18%;
	opacity: 0.3;
	z-index: 2;
}
.td-medirian .td-on
{
	z-index: 2;
}
.td-medirian .td-on:hover
{
	opacity: 1;
	text-shadow: 0 0 16px #9AD;
}
.td-dail
{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.td-dail.active
{
	opacity: 0.8;
	animation: td-pulse 4s ease-in-out infinite;
}
.td-dail svg
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.td-dail.active svg
{
	cursor: pointer;
}
.td-dail .td-handle
{
	position: absolute;
	top: 4px;
	left: 32px;
	right: 32px;
	bottom: 22px;
}
.td-dail .td-handle:after
{
	position: absolute;
	background: #234;
	width: 24px;
	height: 24px;
	box-shadow: 0 0 10px #08C,inset 3px -5px 25px 1px #0DF;
	border-radius: 100%;
	top: 0;
	left: 50%;
	margin-left: -12px;
	border-bottom-left-radius: 0;
	content: "";
	transform: rotate(-45deg);
	z-index: -1;
}
.td-clock .td-time
{
	font-weight: bold;
	position: relative;
}
.td-clock .td-time span
{
	vertical-align: middle;
	text-align: center;
	margin: 5px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	font-size: 2em;
	opacity: 0.8;
}
.td-clock .td-time span:hover{
	opacity: 1;
	text-shadow: 0 0 24px #6AF;
}
.td-clock .td-time span.td-on
{
	color: #8CF;
	text-shadow: 0 0 5px #257;
	animation: td-blink 1.5s linear infinite;
}
.td-clock .td-time span.td-on:hover{
	opacity: 1;
	text-shadow: 0 0 24px #ACE;
}
.td-n
{
	-webkit-transition: all 0.5s cubic-bezier(.7,0,.175,1) 0s;
	-moz-transition: all 0.5s cubic-bezier(.7,0,.175,1) 0s;
	-ms-transition: all 0.5s cubic-bezier(.7,0,.175,1) 0s;
	transition: all 0.5s cubic-bezier(.7,0,.175,1) 0s;
}
.td-n2
{
	-webkit-transition: all 0.25s linear 0s;
	-moz-transition: all 0.25s linear 0s;
	-ms-transition: all 0.25s linear 0s;
	transition: all 0.25s linear 0s;
}
/* effects */
@-webkit-keyframes td-bounce
{
	10%
	{
		-webkit-transform: scale3d(1.1,0.9,1);
	}
	30%
	{
		-webkit-transform: scale3d(0.93,1.07,1);
	}
	50%
	{
		-webkit-transform: scale3d(1.05,0.95,1);
	}
	70%
	{
		-webkit-transform: scale3d(.97,1.03,1);
	}
	90%
	{
		-webkit-transform: scale3d(1.01,.99,1);
	}
	100%
	{
		-webkit-transform: scale3d(1,1,1);
	}
}
@keyframes td-bounce
{
	10%
	{
		transform: scale3d(1.1,0.9,1);
	}
	30%
	{
		transform: scale3d(0.93,1.07,1);
	}
	50%
	{
		transform: scale3d(1.05,0.95,1);
	}
	70%
	{
		transform: scale3d(.97,1.03,1);
	}
	90%
	{
		transform: scale3d(1.01,.99,1);
	}
	100%
	{
		transform: scale3d(1,1,1);
	}
}
.td-drag
{
	-webkit-transform: scale3d(0.93,1.07,1);
	transform: scale3d(0.93,1.07,1);
}
.td-bounce
{
	-webkit-animation: td-bounce .3s;
	animation: td-bounce .3s;
}
@-webkit-keyframes td-alert
{
	0%
	{
		-webkit-transform: scale3d(1,1,1);
	}
	10%,
	20%
	{
		-webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
	}
	30%,
	50%,
	70%,
	90%
	{
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
	}
	40%,
	60%,
	80%
	{
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
	}
	100%
	{
		-webkit-transform: scale3d(1,1,1);
	}
}
@keyframes td-alert
{
	0%
	{
		transform: scale3d(1,1,1);
	}
	10%,
	20%
	{
		transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
	}
	30%,
	50%,
	70%,
	90%
	{
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
	}
	40%,
	60%,
	80%
	{
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
	}
	100%
	{
		transform: scale3d(1,1,1);
	}
}
.td-alert
{
	-webkit-animation: td-alert .8s both;
	animation: td-alert .8s both;
}
@-webkit-keyframes td-fadein
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes td-fadein
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
.td-fadein
{
	-webkit-animation: td-fadein .3s;
	animation: td-fadein .3s;
}
@-webkit-keyframes td-fadeout
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}
@keyframes td-fadeout
{
	0%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
	}
}
.td-fadeout
{
	-webkit-animation: td-fadeout .3s forwards;
	animation: td-fadeout .3s forwards;
}
@-webkit-keyframes td-dropin
{
	0%
{
		opacity: 0;
		-webkit-transform: perspective(200px) rotateX(60deg) translate3d(0,-48px,-64px);
	}
	50%
	{
		opacity: 0.5;
		-webkit-transform: perspective(350px) rotateX(30deg) translate3d(0,-18px,-32px);
	}
	75%
	{
		opacity: 0.5;
		-webkit-transform: perspective(425px) rotateX(15deg) translate3d(0,-6px,-16px);
	}
	100%
	{
		opacity: 1;
		-webkit-transform: none;
	}
}
@keyframes td-dropin
{
	0%
	{
		opacity: 0;
		transform: perspective(200px) rotateX(60deg) translate3d(0,-64px,-64px);
	}
	50%
	{
		opacity: 0.5;
		transform: perspective(350px) rotateX(30deg) translate3d(0,-18px,-32px);
	}
	75%
	{
		opacity: 0.5;
		transform: perspective(425px) rotateX(15deg) translate3d(0,-6px,-16px);
	}
	100%
	{
		opacity: 1;
		transform: none;
	}
}
.td-dropin
{
	-webkit-animation: td-dropin 0.3s linear;
	animation: td-dropin 0.3s linear;
	-webkit-transform-origin: 50% ;
	transform-origin: 50% 0;
}
@-webkit-keyframes td-dropout
{
	0%
	{
		opacity: 1;
		-webkit-transform: none;
	}
	100%
	{
		opacity: 0;
		-webkit-transform: perspective(200px) rotateX(-45deg) translate3d(0,32px,-48px);
	}
}
@keyframes td-dropout
{
	0%
	{
		opacity: 1;
		transform: none;
	}
	100%
	{
		opacity: 0;
		transform: perspective(200px) rotateX(-45deg) translate3d(0,32px,-48px);
	}
}
.td-dropout
{
	-webkit-animation: td-dropout .3s forwards;
	animation: td-dropout .3s forwards;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
@-webkit-keyframes td-dropout-up
{
	0%
	{
		opacity: 1;
		-webkit-transform: none;
	}
	100%
	{
		opacity: 0;
		-webkit-transform: perspective(200px) rotateX(45deg) translate3d(0,-32px,-48px);
	}
}
@keyframes td-dropout-up
{
	0%
	{
		opacity: 1;
		transform: none;
	}
	100%
	{
		opacity: 0;
		transform: perspective(200px) rotateX(45deg) translate3d(0,-32px,-48px);
	}
}
.td-dropout.drop-up
{
	-webkit-animation: td-dropout-up .3s forwards;
	animation: td-dropout-up .3s forwards;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
@-webkit-keyframes td-blink
{
	50%
	{
		opacity: 0.25;
	}
}
@keyframes td-blink
{ 
	50%
	{
		opacity: 0.25;
	}
}
@-webkit-keyframes td-pulse
{
	50%
	{
		opacity: 0.5;
	}
}
@keyframes td-pulse
{ 
	50%
	{
		opacity: 0.5;
	}
}
.td-lancette
{
	border: 2px solid #7AC;
	border-radius: 100%;
	margin: 8px;
	opacity: 0.5;
	box-shadow: 0 0 6px #39C,inset 0 0 32px 12px #003,inset 0 0 64px 16px #026;
}
.td-lancette,
.td-lancette div.td-pointer
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.td-lancette div.td-tick
{
	position: absolute;
	border: 1px solid #369;
	box-shadow: 0 0 9px 1px #69C;
}
.td-lancette div.td-tick.td-rotate-0,
.td-lancette div.td-tick.td-rotate-30 ,
.td-lancette div.td-tick.td-rotate-60 ,
.td-lancette div.td-tick.td-rotate-180 ,
.td-lancette div.td-tick.td-rotate-210 ,
.td-lancette div.td-tick.td-rotate-240
{
	height: 3px;
	width: 0;
}
.td-lancette div.td-tick.td-rotate-0,
.td-lancette div.td-tick.td-rotate-180
{
	height: 6px;
}
.td-lancette div.td-tick.td-rotate-90,
.td-lancette div.td-tick.td-rotate-120 ,
.td-lancette div.td-tick.td-rotate-150 ,
.td-lancette div.td-tick.td-rotate-270 ,
.td-lancette div.td-tick.td-rotate-300 ,
.td-lancette div.td-tick.td-rotate-330
{
	height: 0;
	width: 3px;
}
.td-lancette div.td-tick.td-rotate-90,
.td-lancette div.td-tick.td-rotate-270
{
	width: 6px;
}
.td-lancette div.td-tick.td-rotate-0,
.td-lancette div.td-tick.td-rotate-90,
.td-lancette div.td-tick.td-rotate-180,
.td-lancette div.td-tick.td-rotate-270
{
	border-color: #69C;
}
.td-lancette div.td-tick.td-rotate-30,
.td-lancette div.td-tick.td-rotate-120,
.td-lancette div.td-tick.td-rotate-210,
.td-lancette div.td-tick.td-rotate-300
{
	transform: rotate(30deg);
}
.td-lancette div.td-tick.td-rotate-60,
.td-lancette div.td-tick.td-rotate-150,
.td-lancette div.td-tick.td-rotate-240,
.td-lancette div.td-tick.td-rotate-330
{
	transform: rotate(60deg);
}
.td-lancette div.td-tick.td-rotate-0
{
	top: 0;
	left: 50%;
}
.td-lancette div.td-tick.td-rotate-30
{
	right: 25%;
	top: 6.3%;
}
.td-lancette div.td-tick.td-rotate-60
{
	right: 6.9%;
	top: 25%;
}
.td-lancette div.td-tick.td-rotate-90
{
	right: 0;
	top: 50%;
}
.td-lancette div.td-tick.td-rotate-120
{
	right: 6.3%;
	bottom: 25%;
}
.td-lancette div.td-tick.td-rotate-150
{
	right: 25%;
	bottom: 6.9%;
}
.td-lancette div.td-tick.td-rotate-180
{
	bottom: 0;
	left: 50%;
}
.td-lancette div.td-tick.td-rotate-210
{
	left: 25%;
	bottom: 6.3%;
}
.td-lancette div.td-tick.td-rotate-240
{
	left: 6.9%;
	bottom: 25%;
}
.td-lancette div.td-tick.td-rotate-270
{
	left: 0;
	top: 50%;
}
.td-lancette div.td-tick.td-rotate-300
{
	left: 6.3%;
	top: 25%;
}
.td-lancette div.td-tick.td-rotate-330
{
	left: 25%;
	top: 6.9%;
}
.td-lancette div.td-pointer:after
{
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	bottom: 50%;
	border-radius: 100%;
	background: #7AE;
	content: "";
}
.td-lancette div.td-pointer.td-hr:after
{
	top: 36px;
	margin-left: -2px;
	width: 4px;
}
.td-lancette div.td-pointer.td-on:after
{
	background: #9FD;
	animation: td-blink 1.5s linear infinite;
}